<% if notice %>
  <p class="alert alert-success" style="text-align: center"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger" style="text-align: center"><%= alert %></p>
<% end %>
